.header{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    width:97%;
    border: 2px solid grey;
    background-color: #ffffff;
}
.divcontent{
    text-align:left;
    margin-left: 20px;
}
@media only screen and (min-width:0px) and (max-width:600px)
{
   .header{ 
        margin-left:20px !important;
        margin-top:10px;
        margin-bottom:10px;
        width:85%;
   }
}
@media only screen and (min-width:600px) and (max-width:900px)
{
   .header{ 
        margin-left:20px !important;
        margin-top:10px;
        margin-bottom:10px;
        width:86%;
   }
}
@media only screen and (min-width:900px) and (max-width:1200px)
{
   .header{ 
      margin:15px;
   }
}
@media only screen and (min-width:1200px) and (max-width:1536px)
{
   .header{ 
      margin:15px;
   }
}
